body {
    background-color: rgb(97, 67, 230);
    font-family: Arial;
    font-size: 15;
    font-style: bold;
    color: rgb(182, 238, 164);
    width: 80%;
    margin: auto;
}

.statki {
    display: flex;
    margin: 25px;
    padding: 5px;
}

.statek {
    margin: 25px;
    padding: 5px 25px;
    height: min-content;
    border: 2px solid rgb(0,0,0);
    background-color: rgb(7, 65, 153);
    transition: 0.2s;
    display: flex;
    flex-direction: row;
}

.statek:hover {
    background-color: rgb(185, 81, 6);
    border-color: rgb(90, 60, 90);
}

.komponenty {
    display: flex;
    flex-direction: row;
}

.komponenty::before {
    content: 'Komponenty: ';
}

.kadlub::before {
    content: 'Kadlub: ';
}

.komputerNawigacyjny::before {
    content: 'Komputer Nawigacyjny: ';
}

.id::before {
    content: 'Id w katalogu: ';
}

.typ::before {
    content: 'Typ: ';
}

.dost::before {
    content: 'Dostep: ';
}

.oznaczenia::before {
    content: 'Model: ';
}

.cena::before {
    content: 'Cena: ';
}

.reaktor::before {
    content: 'Model Reaktora: ';
}

.modelSilnika::before {
    content: 'Model Silnika: ';
}

.iloscZalogi::before {
    content: 'Ilosc Zalogi: ';
}

.klasaPancerza::before {
    content: 'Klasa Pancerza: ';
}

.temperaturaStopienia::before {
    content: 'Temperatura Stopienia: ';
}

.wykrywalnosc::before {
    content: 'Wykrywalnosc: ';
}

.zasiegSkoku::before {
    content: 'Zasieg Skoku: ';
}

.pojemnoscBankowPamieci::before {
    content: 'Pojemnosc Bankow Pamieci: ';
}

.container {
    margin-left: 25px;
    margin-right: 25px;
    display: block;
}

.kategoria {
    display: none;
}
